*{
    padding: 0;
    margin: 0;
}

header{
    background-color: red;
    min-height: 10vh;
    min-width: 100vw;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    background-color: blue;
    min-height: 80vh;
    min-width: 100vw;  
    display: flex;  
    align-items: center;
    justify-content: center;
}

footer{
    background-color: green;
    min-height: 10vh;
    min-width: 100vw;
}

.container{
    border: 2px solid red;
    min-width: 84vw;
}

.text{
    border: 2px solid black;
    display: inline-block;
}

.stats{
    border: 2px solid green;
    display: inline-block;
}

.btns{
    border: 2px solid white;
    display: inline;
}
textarea{
    resize: none;
}