*{
    padding: 0;
    margin: 0;
}

header{
    background-color: red;
    min-height: 10vh;
    min-width: 100vw;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    background-color: black;
    min-height: 80vh;
    min-width: 100vw;    
}

footer{
    background-color: green;
    min-height: 10vh;
    min-width: 100vw;
}
